* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Montserrat", sans-serif;
    }

    body {
      margin: 0;
      padding: 0;
      background: black;
      color: white;
      overflow-x: hidden;
    }

    a {
      text-decoration: none;
      color: #fff;
    }

    .header {
      background-color: #37353E;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 65px;
      width: 100%;
      padding: 0 60px;
      position: sticky;
      top: 0;
      z-index: 10;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    .name {
      font-size: larger;
      font-weight: bolder;
    }

    .pages {
      display: flex;
      gap: 40px;
    }

    .container {
      width: 100%;
      min-height: 100vh;
      overflow-y: auto;
    }

    .heading {
      text-align: center;
      margin: 20px 0;
    }

    .info {
      margin: 10px 30px;
      background-color: #37353E;
      padding: 30px;
      font-size: x-large;
      border-radius: 5px;
    }

    .info1{
        font-size: large;
    }

    .info2{
        margin-left: 40px;
    }

    .add {
      display: flex;
      margin: 50px 120px;
      gap: 30px;
      flex-direction: row-reverse;
    }

    .image {
      height: 250px;
      width: 800px;
      border-radius: 10px;
      object-fit: cover;
    }

    .mission {
      display: flex;
      margin: 0 120px;
      gap: 30px;
    }

    .image1 {
      height: 370px;
      border-radius: 10px;
    }

    .comunity {
      margin: 30px;
      background-color: #37353E;
      padding: 30px;
      font-size: x-large;
      border-radius: 5px;
    }

    .team {
      width: fit-content;
      margin: 50px auto;
      position: relative;
      text-align: center;
    }

    .slide {
      height: 500px;
      width: 370px;
      object-fit: cover;
      display: block;
      border-radius: 10px;
    }

    .team-prev,
    .team-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }

    .team-prev {
      left: -60px;
    }

    .team-next {
      right: -60px;
    }

    .caption {
      margin-top: 10px;
      font-size: 20px;
      font-weight: bold;
    }

    #sub-name {
      font-size: 16px;
      font-weight: normal;
      color: #ccc;
    }

    @media screen and (max-width: 768px) {
      .add,
      .mission {
        display: block;
        margin: 20px;
        
      }

      .image,
      .image1 {
        width: 100%;
        height: auto;
      }

      .info{
        font-size: large;
      }

      .slide {
        width: 100%;
        height: auto;
      }

      .team-prev {
        left: 10px;
      }

      .team-next {
        right: 10px;
      }

      .comunity{
        font-size: large;
      }
    }