 

.footer {
    background-color: #37353E;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 40px;
    margin-top: 40px;
}

.logo-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.namef {
    font-size: 1.4rem;
    font-weight: bolder;
}


.address-contact {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.address-contact p {
    margin-top: 8px;
}

.telephone,
.mail {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-top: 10px;
}

.telephone a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.mail a{
    display: flex;
    flex-direction: row;
    align-items: center;
        gap: 10px;

}

.quick-links,
.legal,
.connect {
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.footer-content-names {
    margin-bottom: 20px;
    margin-top: 40px;
}

.footer-content-names-download {
    margin-top: 15px;
    margin-bottom: 20px;
}

.icon {
    height: 30px;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.copy-right {
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
    margin-bottom: 40px 0;
}

hr {
    width: 100%;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.title-footer,
.bb {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 300px;
    word-wrap: break-word;
    margin-top: 40px;
}

span {
    color: rgb(46, 167, 50);
}


@media (max-width: 768px) {

    .sidebar {
        display: none;
    }

    .background {
        height: 60vh;
    }
}

@media (max-width: 340px) {

    .sidebar {
        display: none;
    }

    .background {
        height: 40vh;
    }

    .nav {
        padding: 0 20px;
    }

}