* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    /* background-color: black; */
}

/* 
a {
    text-decoration: none;
    color: #fff;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.name {
    font-size: 1.5rem;
    font-weight: bolder;
}

.nav {
    background-color: #37353E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100%;
    padding: 0 60px;

    position: sticky;
    top: 0;

    z-index: 100;
}

.pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    justify-content: space-around;
} */

/* .sign-up-tag{
    background-color:white;
    color: black;
    padding: 4px 8px;
    border: none;
    border-radius: 20px;
} */


.main-content {
    display: flex;
    flex-direction: row;
    /* overflow: hidden; */
    height: 100vh;
    /* max-height: fit-content; */
    position: fixed;
}


.sidebar {
    background-color: #1f1c28;
    width: 340px;
    height: 100vh;
    min-height: 100vh;
    position: sticky;
    /* margin-top: 100px;   */
}

.game-sidebar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #2f2b3a;
    padding: 20px;
    margin: 20px;
    margin-top: 32px;
    border-radius: 10px;
    font-size: larger;
    cursor: pointer;
    /* position: fixed; */

}

.game-sidebar:hover {
    outline: 1px solid white;
}


.container {
    width: 100%;
    /* height: 100vh; */
    overflow: scroll;
    background-color: black;
    overflow-x: hidden;
    min-height: 100vh;
    /* opacity: 0.6; */
}

.background {
    background: url("../images/background-img.png") center;
    background-size: contain;
    width: 100%;
    height: 92vh;
    opacity: 0.9;
}

.top-games-container {
    padding: 20px;
}

.rise-games-container {
    padding: 20px;
    scroll-margin-top: 100px;
}

.game {
    background-color: #21c61b;
    width: 240px;
    height: 280px;
    border-radius: 0.5rem;
    padding: 0.8rem;
    /* margin: 2rem; */
    /* margin-left: 1.5rem; */
    margin-top: 2rem;
    /* margin: 20px; */
}

.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* padding: 15px; */
    /* gap: 5px; */
}

.game-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.top-games-container {
    padding: 20px;
    scroll-margin-top: 100px;

}







.footer {
    background-color: #37353E;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 40px;
    margin-top: 40px;
    /* height: 100vh; */
    /* margin-bottom: 40px; */
}


.logo-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.quick-links,
.legal,
.connect {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    /* padding: 30px; */
}

.footer-content-names {
    margin-bottom: 20px;
    margin-top: 40px;
}

.footer-content-names-download {
    margin-top: 15px;
    margin-bottom: 20px;
}

.icon {
    height: 30px;
    /* margin-right: 8px; */
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.copy-right {
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
    margin-bottom: 40px 0;
}

hr {
    width: 100%;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.title-footer , .bb {
    display: flex;
    flex-direction: column;
    width: auto;       
    max-width: 300px;  
    word-wrap: break-word; 
    /* padding:40px; */
    margin-top: 40px;
    /* align-items: center; */
    /* text-align: center; */
}


.address-contact{
    margin-top: 15px;
    /* font-size: ; */
    display: flex;
    flex-direction: row;
}

.address-contact p {
    /* font-size: 16px; */
    /* line-height: 1.5; */
    display: flex;
    word-break: break-word; 
    margin-top: 8px;        
}


.telephone , .mail {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-top: 10px;
}